@keyframes menuLoad {
  from {
    opacity: 0;
    transform: rotateX(-90deg) scale(0.6);
  }
  to {
    opacity: 1;
  }
}
@keyframes menuPopUp {
  from {
    opacity: 0;
    transform: scale(0.1) rotatex(-90deg);
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 600px) {
  .close {
    position: absolute;
  }
}
html, body {
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.2rem;
}

.contenido {
  margin: 0 auto;
  max-width: 600px;
}

#mainMenu {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  max-width: 600px;
  margin: 12vmax auto 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-rows: 100px;
  font-family: calibri, helvetica;
  opacity: 0;
  animation: menuLoad 500ms ease-in-out forwards;
}
#mainMenu.is-active {
  display: none;
}

.menuItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  border: 1px solid lightgray;
  border-radius: 5px;
  transition: color 300ms ease-in-out;
}
.menuItem:hover {
  color: lightgray;
}
.menuItem i {
  font-size: 1.5rem;
}
.menuItem p {
  font-size: 0.8rem;
  margin: 0.5rem 0 0 0;
}

#work {
  display: none;
  flex-direction: column;
  font-family: calibri, helvetica;
  color: gray;
  font-size: 0.8rem;
  padding: 2.5rem 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
#work .workItem a {
  color: #ffdd47;
  font-size: 1.2rem;
  font-weight: bold;
}
#work.is-active {
  animation: menuPopUp 500ms ease-in;
  display: flex;
}

.close {
  position: fixed;
  top: 0;
  right: 12px;
  font-size: 2.5rem;
  font-weight: bolder;
  color: lightgray;
}

.workItem {
  margin-top: 1rem;
}
.workItem p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

#about {
  display: none;
  flex-direction: column;
  font-family: calibri, helvetica;
  color: gray;
  font-size: 0.8rem;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
#about.is-active {
  animation: menuPopUp 500ms ease-in;
  display: flex;
}
#about #aboutClose {
  color: #ffdd47;
}

#personal p {
  margin: 1.5rem 1.5rem;
}
#personal h3 {
  margin: 3rem 1.5rem 1.5rem 1.5rem;
}
#personal a {
  color: #1DA1F2;
}

.hashtags {
  margin: 1.5rem 1.5rem;
  padding: 0;
}
.hashtags li {
  display: inline;
  margin-right: 0.25rem;
}
.hashtags a {
  color: #1DA1F2;
}

#retrato {
  background: url(eitel.jpg) no-repeat center;
  background-size: cover;
  min-height: 42vh;
  width: 100%;
}

#contact {
  display: none;
  flex-direction: column;
  font-family: calibri, helvetica;
  color: gray;
  font-size: 0.8rem;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  align-items: center;
}
#contact.is-active {
  animation: menuPopUp 500ms ease-in;
  display: flex;
}
#contact form {
  max-width: 300px;
}
#contact form textarea {
  height: 150px;
}
#contact form button, #contact form input, #contact form textarea {
  font: inherit;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

#copy {
  position: fixed;
  bottom: 0;
  right: 0.5rem;
  font-size: 0.5rem;
  opacity: 0.1;
  font-family: calibri, helvetica;
}
