

/*======= ANIMATIONS =======*/

@keyframes Load {
  from {
    opacity: 0;
    transform: scale(0.6) rotateY(-180deg);
  }
  to {
    opacity: 1;
  }
}


/*=========== MEDIA QUERIES ============*/


/*======= GENERAI SETTINGS =======*/

html, body {
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.7rem;
}

.contenido {
  margin: 0 auto;
  max-width: 600px;
}


h3 {
  font-size: 1.6rem;
  color: lightgray;
  font-family: menlo;
}

#topRightMenu {
  position: fixed;
  top: 14px;
  right: 14px;
  font-size: 1.7rem;
  font-weight: bolder;
  color:rgba(67, 238, 178, .75);
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#topRightMenu li {
  padding-bottom: .7rem;
}

/*============== MENU ===================*/


/*================= WORk and portfoio ===============*/


/*============ ABOUT PERSONA DATA ===========*/

#about {
  display: flex;
  flex-direction: column;
  font-family: calibri, monotype, helvetica;
  color: gray;
  font-size: 1rem;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f8f8f8;
  animation: Load 700ms ease-in;
}

#personal p {
  margin: 2rem 0;
}

#personal h3 {
  margin: 4.2rem 0 2rem 0;
}

.skillset {
  margin-left: 0;
  padding-left: 2rem;
} 

.skillset li {
  padding: .4rem;
}

#datos {
  text-align: center;
  font-family: menlo, 'Courier New', Courier, monospace;
  font-size: .8rem;
  margin-top: 3rem;
}

#datos p {
  margin: .8rem;
}

#datos a {
  color: inherit;
  margin: 0 .5rem;
  font-size: 1.2rem;
  transition: all 300ms ease-in-out;
}

#datos a:hover {
  font-size: 1.5rem;
  color: lightgrey;
}

#cv {
  padding: 4vmin 8vmin;
}

.hashtags {
  margin: 0;
  padding: 0;
}

.hashtags li {
  display: inline-block;
  margin: .5rem .5rem 0 0;
}

.hashtags a {
  color: #1DA1F2;
  font-size: 1.2rem;
  transition: color 300ms ease-in-out;
}

.hashtags a:hover {
  color: rgb(86, 188, 252);
}


#retrato {
  background: url(eitel.jpg) no-repeat center;
  background-size: cover;
  min-height: 50vh;
  width: 100%;
  border-bottom: solid 24px rgb(67, 238, 178);
}


/*============== CONTACT AND FORM ========*/



/*-------- COPYRITE ------*/
#footer {
  text-align: center;
}

#copy {
  margin: 1rem;
  font-size: 0.7rem;
  font-family: menlo, 'Courier New', Courier, monospace;
  color: lightgrey;
}
