

/*======= ANIMATIONS =======*/


/*=========== MEDIA QUERIES ============*/

@media(min-width: 500px) {
  #topRightMenu {
    display: none;
  } 

  #about #footer ul li:nth-child(4) {
    display: inline; 
  }

  #about #footer a:hover {
    color: rgb(67, 238, 178);
  }
  
  #footer a:hover i { 
    transform: translateY(-5px);
  }

  #personal #retrato {
    margin: 12vmin auto 3vmin auto;
    box-shadow: 1px 5px 5px gray;
    border-bottom: none;
    border-radius: 50%;
    height: 300px;
    width: 300px;
  }

  #personal #cv {
    padding: .25rem 8vmin;
  }
} 

/*======= GENERAI SETTINGS =======*/

html, body {
  margin: 0 auto;
  padding: 0;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 2rem;
}

.contenido {
  margin: 0 auto;
  max-width: 600px;
}


h3 {
  font-size: 1.8rem;
  color: lightgray;
  font-family: Inconsolata, calibri, Helvetica;
}

#topRightMenu {
  position: fixed;
  top: 14px;
  right: 16px;
  font-size: 2rem;
  font-weight: bolder;
  color:rgb(88, 255, 197);
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;

}
#topRightMenu li {
  padding-bottom: .7rem;
  text-shadow: .5px 5px 7px gray;
}



/*============== MENU ===================*/


/*================= WORk and portfoio ===============*/


/*============ ABOUT PERSONA DATA ===========*/

#about {
  display: flex;
  flex-direction: column;
  font-family: Inconsolata, calibri, helvetica;
  color: gray;
  font-size: 1rem;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

#personal p {
  margin: 1.2rem 0;
}

#personal h3 {
  margin: 2.5rem 0 1.2rem 0;
}

/*
.skillset {
  margin-left: 0;
  padding-left: 2rem;
} 

.skillset li {
  padding: .4rem;
}
*/
#datos {
  text-align: center;
  font-family: menlo, 'Courier New', Courier, monospace;
  font-size: 1em;
  margin-top: 2rem;
}

#footer ul {
  list-style: none;
  padding: 0;
  
}

#footer ul li {
  display: inline;
}

#footer ul li:nth-child(4) {
  display: none; 
}

#datos p {
  margin: .8rem;
}

#footer a {
  color: inherit;
  margin: 0 .5rem;
  font-size: 1.5rem;
  transition: all .25s ease-in-out;
}

#footer a i {
  transition: all .25s ease-in-out;
}

#cv {
  padding: .25rem 2.5rem;
}

#cv p a {
  text-decoration: underline;
  transition: color .25s ease-in-out;
}

#cv p a:hover {
  color: rgb(67, 238, 178);
}

#retrato {
  background: url(eitel.jpg) no-repeat center;
  background-size: cover;
  border-bottom: 20px solid rgb(88, 255, 197);
  height: 42vh;
  width: 100%;
}


/*============== CONTACT AND FORM ========*/



/*-------- COPYRITE ------*/
#footer {
  text-align: center;
}

#copy {
  margin: .5rem;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  color: lightgrey;
}
